body {
  font-family: "Times New Roman", Times, serif;
  
  color:rgb(0, 0, 0);
  margin: 0px;
  text-align: center;
  background-image: url("img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}
h1 {
 
  padding: 10px 20px 12px 20px;
  margin: 0px;
  font-size: 5em;
  color:rgb(0, 0, 0);
}
h2 {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

h3 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  font-size:1.5em;
  margin: 2px;
}
table {
  margin: 25px auto;
  border-collapse: collapse;
  width: 85%;
  background: rgba(143, 68, 6, 0.699);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  overflow: hidden;
}

th {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 12px;
  font-size: 1.1em;
  text-transform: uppercase;
}

td {
  padding: 10px;
  color: #ffffff;
  font-size: 1.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

tr:last-child td {
  border-bottom: none;
}
