body {
  font-family: "Times New Roman", Times, serif;
  color:rgb(0, 0, 0);
  margin: 10;
  padding: 0;
  text-align: center;
  background-image: url("img/try.jpg");
  background-size: cover; 
  background-position: 0 0 0 20px;

}
h1 {
 
  padding: 10px 20px 12px 20px;
  margin: 0px;
  font-size: 5em;
  color:#FFFFFF;
}
h2 {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
  color: #FFFFFF;
  
}

h3 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  font-size:2em;
  margin: 2px;
  color: #E8EEF3;
}
footer
{
    color: rgb(0, 0, 0);
    padding-top: 1em;
}
header
{
    padding-top:1em ;
    font-size: 2em;
}